<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>CV de Nathan Villeneuve</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="../static/js/javascript.js"></script>

</head>
<body>
<header class="h_color" id="head">
    <div class="text-left">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="logo">
                        <h2>RESUME MAKER</h2>
                        <p>Attractive resumes Download and Use Now!</p>
                    </div>
                    <div class="nav_button_right">
                        <a  class="btn btn-primary" href="#popup1">Add your Data</a>
                        <input type="button" onclick="printDiv()" class="btn btn-warning" value="Print Resume">
                        <a class="btn btn-info" href="resume_template">More Resume Templates</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</header>

<section id="resume_1">
    <div class="container">
        <div class="resume_1">
            <div class="row">
                <div class="col-md-12">
                    <div>
                        <h1 id="uname">Nathan Villeneuve</h1>
                        <p style="text-align: justify" id="uabout">Passionné par l'informatique et la résolution de problèmes, je cherche à développer mes compétences dans le domaine de l'administration système et réseau.</p>
                    </div>
                </div>

                <!-- Rest of the content here... -->

            </div>
        </div>
    </div>
</section>

<!-- Popup form for adding data -->

<div id="popup1" class="overlay">
    <div class="popup">
        <!-- Your form content here -->
    </div>
</div>

<script src="../static/js/jquery-2.1.3.js"></script>
<script src="../static/js/my.js"></script>
</body>
</html>
